@font-face {
    font-family: "Antique-Olive";
    src: url("../fonts/antique.eot?") format("eot"), url("../fonts/antique.woff") format("woff"), url("../fonts/antique.ttf") format("truetype"), url("../fonts/antique.svg#Antique-Olive") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blurmedium';
    src: url('../fonts/blur_medium.eot');
    src: url('../fonts/blur_medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blur_medium.woff2') format('woff2'),
         url('../fonts/blur_medium.woff') format('woff'),
         url('../fonts/blur_medium.ttf') format('truetype'),
         url('../fonts/blur_medium.svg#blurmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background-color: #F57321;
    font-family: "blurmedium", sans-serif;
    color: black;
}

h1 {
	font-size: 5vw;
	font-weight: bolder;
	font-family: "Antique-Olive", sans-serif;
}

hr {
	width: 100%;
	height: 5px;
	background-color: black;
	border-top: none;
}


/* WRAPPER */

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

/* MAIN SECTION */

main {
    margin-bottom: auto;
    position: relative;
}


/* MIDDLE SECTION */

.middle {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#topic-input {
	border-radius: 5px;
	padding: 5px;
}

#topic-input:focus::placeholder {
	color: transparent;
} 

.topic {
	width: 200px;
	height: auto;
}

#add-topic, #clear-gifs, #start-over {
	width: 200px;
	height: auto;
}

.topic, #add-topic, #clear-gifs, #start-over {
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 12px;
    margin: 5px;
    border: 5px solid black;
    border-radius: 15px;
    color: black;
    background-color: white;
    font-family: "blurmedium", sans-serif;
}

.topic:hover, #add-topic:hover, #clear-gifs:hover, #start-over:hover {
	border: 5px solid white;
    color: #F57321;
    background-color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

input {
	display: inline!important;
	font-family: "blurmedium", sans-serif;
}

#button-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
}

#gif-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
}

.item-holder {
	text-align: center;
	border: 5px solid transparent;
	border-radius: 15px;
}

.item-holder:hover {
	border: 5px solid black;
	transition: all .2s ease-in-out;
}

.item {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 50vw;
	height: 50vw;
	max-width: 275px;
	max-height: 275px;
	margin: 5px;
}

.gif {
	width: 100%;
	height: auto;
	max-width: 250px;
	max-height: 250px;
	cursor: pointer;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    text-align: center;
}

footer p {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 1.2em;
    margin-bottom: 0!important;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flipIt {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes flipBack {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0deg);
    }
}



/* MEDIA QUERIES */


/* Reduced screen */

@media screen and (max-width: 1250px) {
    h2 {
        font-size: 1.6rem;
    }
    h3 {
    	font-size: 1.3rem;
    }
    button, input {
		font-size: .9rem;
	}
	#add-topic, #clear-gifs, #start-over {
	width: 180px;
}


/* Tablet portrait */

@media screen and (max-width: 798px) {
    h1 {
        font-size: 2.5rem!important;
    }
    h2 {
        font-size: 1.4rem!important;
        line-height: 2rem;
    }
        h3 {
    	font-size: 1.1rem;
    }
	button, input {
		font-size: .8rem;
	}
	.topic {
		width: 175px;
	}
	#topic-input, #add-topic, #clear-gifs, #start-over {
		width: 70vw;
		display: block!important;
		margin-left: auto!important;
		margin-right: auto!important;
	}
	.topic, #add-topic, #clear-gifs, #start-over {
		padding: 10px 10px;
		border-radius: 12px;
	}
}


/* Small tablets */

@media screen and (max-width: 510px) {
    h1 {
        font-size: 2rem!important;
    }
    h2 {
        font-size: 1.2rem!important;
        line-height: 1.5rem;
    }
        h3 {
    	font-size: 1rem;
    }
    	button, input {
		font-size: .7rem;
	}
	.topic, #add-topic, #clear-gifs, #start-over {
    border: 3px solid black;
}

.topic:hover, #add-topic:hover, #clear-gifs:hover, #start-over:hover {
	border: 3px solid white;
}
	.topic {
		width: 150px;
	}
	.topic, #add-topic, #clear-gifs, #start-over {
		padding: 8px 8px;
		border-radius: 10px;
	}
	.item {
		width: 100vw;
		height: 100vw;
		max-width: 150px;
		max-height: 150px;
	}

	.gif {
		max-width: 125px;
		max-height: 125px;
	}
}


/* Mobile phones */

@media screen and (max-width: 385px) {
    header img {
        width: 50%;
    }
    h1 {
        font-size: 1.5rem!important;
    }
    h2 {
        font-size: .9rem!important;
    }
        h3 {
    	font-size: .8rem;
    }
    	button, input {
		font-size: .6rem;
	}
	.topic {
		width: 125px;
	}
		.topic, #add-topic, #clear-gifs, #start-over {
		padding: 5px 5px;
		border-radius: 8px;
	}
	.item {
		width: 100vw;
		height: 100vw;
		max-width: 125px;
		max-height: 125px;
	}

	.gif {
		max-width: 100px;
		max-height: 100px;
	}
}

@media screen and (max-width: 350px) {
	button, input {
		font-size: .5rem;
	}
	.topic {
		width: 100px;
	}
	}